.page {
    text-align: center;
    min-height: 100vh;
    padding-top: 8%;

    &__form {
        max-width: 70%;
        margin: 0 auto;
        display: block;
    }

    &__title {
        @include title;
    }
}

@media (max-width: $bp-small) {
    .page {
        &__form {
            max-width: 90%;
        }
    }
}