.profile {
    display: flex;
    flex-flow: row nowrap;
    align-items: stretch;

    &__column {
        display: flex;
        flex-flow: column;
    }

    &__load {
        background-color: $secondary-color;
    }

    &__items {
        height: 100%;
        width: 100%;
    }
}

