@import "./buttons";

body {
    font-size: $base-font-size;
    font-family: $ff-text;

    @media (min-width: $bp-medium) {
        font-size: $base-font-size * 1.2;
    }

    @media (min-width: $bp-large) {
        font-size: $base-font-size * 1.3;
    }

    @media (min-width: $bp-xlarge) {
        font-size: $base-font-size * 1.4;
    }

    @media (min-width: $bp-xxlarge) {
        font-size: $base-font-size * 1.6;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
}

textarea {
    resize: none;
}

.section {
    padding: 8% 0;
    &__header {
        margin: 0 auto;
        max-width: 60%;
        text-align: center;
        margin-bottom: 6%;
    }

    &__title {
        font-size: 2.5em;
        font-family: $ff-headers--secondary;
        font-weight: $light;
        margin-bottom: 0.5em;
    }

    &__subtitle {
        color: $gray;
    }
}

.form {
    padding: 4% 3%;
    border-radius: 0.2em;

    &__group {
        display: flex;
        justify-content: space-evenly;
    }

    &__field {
        width: 80%;
        margin: 0 auto;
        margin-bottom: 3%;
        font-weight: $regular;
        display: flex;
        flex-flow: column nowrap;
        max-width: 80%;
    }

    &__label {
        display: block;
        font-family: $ff-headers;
        text-align: left;
        margin-bottom: 0.8em;
    }

    &__input {
        border: 2px solid $secondary-color;
        border-radius: 1.5em;
        padding: 0.8em 1em;
        outline: none;
        font-weight: $light;
        display: block;

        &:focus {
            border-color: $primary-color;
        }
    }

    &__select {
        padding: 1em 1.5em;
        border: 2px solid $secondary-color;
        border-radius: 1.5em;
        outline: 0;
    }

    &__button {
        display: block;
        min-width: 40%;
        margin: 0 auto;
    }

    &__error,
    &__message {
        text-align: center;
        padding: 1em 0.5em;
        background-color: $danger-color;
        color: $text-color--light;
        font-weight: $semi-bold;
        max-width: 60%;
        border-radius: 1.3em;
        margin: 0 auto;
        margin-bottom: 3%;
    }

    &__message {
        background-color: $success-color;
    }

    &__image-preview {
        max-width: 70%;
    }
}

.feature {
    &__name {
        font-size: 0.5em;
        font-family: $ff-headers;
        text-transform: uppercase;
        font-weight: $bold;
        text-align: center;
        color: $gray;
        letter-spacing: 0.4em;
        margin-bottom: 0.5em;
    }
}



.detail {
    display: table-row;

    &__input {
        background-color: transparent;
        border: none;
        border-bottom: 1px solid $secondary-color;
        font-family: $ff-text;
        font-weight: $light;
        padding: 0.3em 0;
        outline: none;
        font-size: 0.8em;

        &:disabled {
            border-bottom: none;
        }

        &:focus {
            border-bottom: 1px solid $primary-color;
        }
    }

    &__textarea {
        background-color: transparent;
        border: 1px solid $secondary-color;
        outline: none;
        font-weight: $light;
        font-family: $ff-text;
        font-size: 0.8em;
        width: 100%;

        &:focus {
            border-color: $primary-color;
        }
    }

    &__name {
        padding-right: 0.5em;
        display: table-cell;
        vertical-align: middle;
    }

    &__value {
        display: table-cell;
        padding-bottom: 1.5em;
        &--horizontal {
            display: flex;
            justify-content: space-between;
            flex-direction: row;
            align-items: center;
        }
    }

    &__feature {
        margin-right: 5%;
        &:last-child {
            margin-right: 0;
        }
    }
}
