.form {
    padding: 4% 3%;
    border: 1px solid $gray;
    border-radius: 0.2em;

    &__field {
        width: 80%;
        margin: 0 auto;
        margin-bottom: 3%;
        font-weight: $regular;
        display: flex;
        flex-flow: column nowrap;
        max-width: 80%;
    }

    &__label {
        display: block;
        font-family: $ff-headers;
        text-align: left;
        margin-bottom: 0.8em;
    }

    &__input {
        border: 2px solid $secondary-color;
        border-radius: 1.5em;
        padding: 0.8em 1em;
        outline: none;
        font-weight: $light;
        display: block;

        &:focus {
            border-color: $primary-color;
        }
    }

    &__button {
        display: block;
        min-width: 40%;
        margin: 0 auto;
    }

    &__error {
        text-align: center;
        padding: 1em 0.5em;
        background-color: $danger-color;
        color: $text-color--light;
        font-weight: $semi-bold;
        max-width: 60%;
        border-radius: 1.3em;
        margin: 0 auto;
        margin-bottom: 3%;
    }
}